@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 28px;
    font-family: 500;
    color: #FFFFFF;
}

h2 {
    font-size: 40px;
    font-family: 500;
    color: #FFFFFF;
}

p {
    font-size: 20px;
    font-family: 400;
    padding: 6px 24px 16px 24px;
    color: #FFFFFF;
}

