@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    height: 56px;
    align-items: center;
    position: relative;
}

.logo {
    flex: 1;
    align-items: center;
    display: flex;
    font-weight: 500;
    color: rgb(23, 26, 32);
}

.middle-menu {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.right-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-item {
    font-size: 14px;
    cursor: pointer;
    padding: 4px 16px;
}

/* Hero Section Styles*/

.hero-section {
    position: relative;
    height: 100vh;
}

/*these styles are for the slides in the hero section, you can customize them as needed, hide by default*/
.slide {
    display: none;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.slide:first-of-type,
.slide:target {
    display: flex; /* Show the first slide by default */
}

/*Individual slide backgrounds*/
#slide-1 {
    background-image: url(./assets/Full\ Self\ Driving\ vid.mp4);
    background-size: cover;
    background-position: cover;
}

#slide- {
    background-image: url(./assets/sergey-sokolov-mw8A4dOX9z8-unsplash.jpg);
    background-size: cover;
    background-position: cover;
}

#slide-3 {
    background-image: url(./assets/Model\ Y\ \(Slide\ 1\).jpg);
    background-size: cover;
    background-position: cover;
}

.slide h1 {
    margin-bottom: 10px;
}

.slide p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

